extends template/main

block variables
	- var title = 'test-form'
	- var pageClass = 'index'

block header
	//-include modules/header/header

block content
	include index/main

block footer
	//-include modules/footer/footer